<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="https://chartjs-plugin-datalabels.netlify.com/chartjs-plugin-datalabels.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <style>
        .container-fluid {
            margin: 20px 0px 20px;
        }

        @media only screen and (max-width: 768px) {
            .container{
                position: absolute;
                width: 100%;
                left: 0;
            }
        }

        @media only screen and (max-width: 768px) {
        .row top-row{
            position: absolute;
                width: 100%;
                left: 0;

        }
    }



        .orangefont {
            color: #ffc107;
        }

        .btn {
            margin: 5px;
        }

        .card {
            margin-bottom: 10px;
        }

        .top-row .card {
            margin-bottom: 10px;
            /* margin-top: 10px; */
            height: 100%;
        }

        .top-row {
            margin-bottom: 10px;
            margin-top: 15px;
        }

        .orangediv1,
        .orangediv {
            background-color: #ffc107;
            color: white;
        }

        .buttonasign {
            justify-content: center;
            display: flex;
        }

        .no-left-padding {
            padding-left: 0px !important;
        }

        select option {

            font-size: medium;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: 500;

        }
    </style>
</head>

<body>
    <div class="container">
        <input type="hidden" id="x_month" value="<%= JSON.stringify(x_months) %>" />
        <input type="hidden" id="x_monthss" value="<%= JSON.stringify(x_monthss) %>" />
        <input type="hidden" id="quantity_array" value="<%= JSON.stringify(quantity_array) %>" />
        <input type="hidden" id="price_array" value="<%= JSON.stringify(price_array) %>" />
        <input type="hidden" id="profit_array" value="<%= JSON.stringify(profit_array) %>" />
        <input type="hidden" id="prod_name" value="<%= JSON.stringify(prod_name) %>" />
        <input type="hidden" id="stockquantity" value="<%= JSON.stringify(stockquantity) %>" />
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">LayanCRM</a>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="/dashboard">Home</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Product
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/add_product">Add New Product</a>
                    <a class="dropdown-item" href="/update-product-category">Update Product</a>
                    <a class="dropdown-item" href="/category">Add Product Category</a>
                    <a class="dropdown-item" href="/product-report">Product Report</a>
                    <a class="dropdown-item" href="/productpurchased-report">Update Product Report</a>
                    <a class="dropdown-item" href="/category-report">Category Report</a>
                    <a class="dropdown-item" href="/activate-product">Activate Product</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sales
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/Sales-Category">Add New Sales</a>
                    <a class="dropdown-item" href="/sales-reports">Sales Report</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Customer
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/customer">Add New Customer</a>
                    <a class="dropdown-item" href="/customer-report">Customer Report</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Supplier
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/supplier">Add New Supplier</a>
                    <a class="dropdown-item" href="/supplier-report">Supplier Report</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Expenses
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="/expenses">Add Expenses</a>
                      <a class="dropdown-item" href="/expenses-report">Expenses Report</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Profit
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="/profit-report">Profit Report</a>
                      <a class="dropdown-item" href="/netprofit">Add Net Profit</a>
                      <a class="dropdown-item" href="/netprofit-report">Net Profit Report</a>
                    </div>
                  </li>
                  <li style="float: left;" class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                  </li>
              </ul>
            </div>
          </nav>

        <div class="row top-row">
            <div class="col-sm-4">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <h3>Current Year Profit</h3>
                        <br>
                        <h3 id="values"  class="orangefont"><span style="color: #ffc107;">&#8358; </span><%= profmaxyrsum %></h3 class="orangefont">
                    </div>
                </div>
            </div>
            <div class="col-sm-4 nopadding">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <h3>Previous Year Revenue</h3>
                        <br>
                        <h3 id="valuess"  class="orangefont"><span style="color: #ffc107;">&#8358; </span><%= prevyrsum %></h3 class="orangefont">
                    </div>
                </div>
            </div>
            <div class="col-sm-4 nopadding">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <h3>Current Year Revenue</h3>
                        <br>
                        <h3 id="valuesss"  class="orangefont"><span style="color: #ffc107;">&#8358; </span><%= maxyrsum %></h3 class="orangefont">
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <div class="card bg-light">
                    <canvas id="vertical-bar-chart1" height="320"></canvas>
                </div>
            </div>
            <div class="col-sm-6 nopadding">
                <div class="card bg-light">
                    <canvas id="vertical-bar-chart2" height="320"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card bg-light">
                    <canvas id="bar-chart" height="320"></canvas>
                </div>
            </div>
            <div class="col-sm-6 nopadding">
                <div class="card bg-light">
                    <canvas id="pie-chart" height="320"></canvas>
                </div>
            </div>
        </div>
        <br>
    </div>
</body>
<script>

    var x_month = $('#x_month').val();
    x_month = JSON.parse(x_month);

    var x_monthss = $('#x_monthss').val();
    x_monthss = JSON.parse(x_monthss);

    var profit_array = $('#profit_array').val();
    profit_array = JSON.parse(profit_array);

    var price_array = $('#price_array').val();
    price_array = JSON.parse(price_array);

    var prod_name = $('#prod_name').val();
    prod_name = JSON.parse(prod_name);

    var stockquantity = $('#stockquantity').val();
    stockquantity = JSON.parse(stockquantity);

    var quantity_array = $('#quantity_array').val();
    quantity_array = JSON.parse(quantity_array);


    //Quantity chart
    new Chart(document.getElementById("vertical-bar-chart1"), {
        type: 'bar',
        data: {
            labels: x_monthss,
            datasets: [
                {
                    backgroundColor: ["#49d8ef", "#a27aea", "#3cba9f", "#e8c3b9", "#ef5b9f", "#ecbc2a", "#fd7e14"],
                    data: profit_array
                }
            ]
        },
        options: {

          
            legend: { display: false },
            title: {
                display: true,
                text: 'Last 7 months Profit Chart'
            }
        }
    });

    //Price chart
    new Chart(document.getElementById("vertical-bar-chart2"), {
        type: 'bar',
        data: {
            labels: x_month,
            datasets: [
                {
                    backgroundColor: ["#49d8ef", "#a27aea", "#3cba9f", "#e8c3b9", "#ef5b9f", "#ecbc2a", "#fd7e14"],
                    data: price_array
                }
            ]
        },
        options: {


            legend: { display: false },
            title: {
                display: true,
                text: 'Last 7 months Revenue Chart'
            }
        }
    });

    //Profits chart
    new Chart(document.getElementById("bar-chart"), {
        type: 'horizontalBar',
        data: {
            labels: x_month,
            datasets: [
                {
                    backgroundColor: ["#49d8ef", "#a27aea", "#3cba9f", "#e8c3b9", "#ef5b9f", "#ecbc2a", "#fd7e14"],
                    data: quantity_array
                }
            ]
        },
        options: {
            
          plugins: {
            datalabels: {
              display: false,
            },
          },
          
            legend: { display: false },
            title: {
                display: true,
                text: 'Last 7 months Quantity Sold Chart'
            }
        }
    });

    //Inventory chart
    new Chart(document.getElementById("pie-chart"), {
        type: 'pie',
        data: {
            labels: prod_name,
            datasets: [{
                backgroundColor: ["#49d8ef", "#a27aea", "#3cba9f", "#e8c3b9", "#ef5b9f", "#ecbc2a", "#fd7e14"],
                data: stockquantity
            }]
        },
        options: {

            title: {
                display: true,
                text: 'Top 7 Inventory (by quantity)'
            }
        }
    });
</script>

<script>
    $.fn.digits = function(){ 
        return this.each(function(){ 
            $(this).text( $(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") ); 
        })
    }
    
    $("#values").digits();
    $("#valuess").digits();
    $("#valuesss").digits();
</script>

</html>