<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/styly.css" />
	<title>Document</title>
</head>
<body>
	
<% include ./nav %>
<br>
<br>
<br>


<style>

h1{
	text-align: center;
	color: green;
	font-size: 20px
}

</style>
   
   <h1>Total Report (Last 5 Months)</h1>
   
   <table class="rtable">
      <thead>
        <tr>
          <th>Date</th>
          <th>Total Sales</th>
          <th>Total Profit</th>
          <th>Total Expenses</th>
          <th>Net Profit/Loss</th>
        </tr>
      </thead>

	  <% datas.forEach(function(item) { %>
	
	
      <tbody>
        <tr>
          <td data-column="Date"><%= moment(item.date).format("LL") %></td>
          <td id="tsales" data-column="Total Sales"><%= item.tsales %></td>
		  <td id="tprofit" data-column="Total Pofit"><%= item.tprofit %></td>
		  <td id="texpense" data-column="Total Expenses"><%= item.shop_expenses + item.good_transport + item.contribution + item.school_fees + item.coperative_contribution + item.others + item.household + item.salary  %></td>
          <td data-column="Net Profit/Loss"><%= item.net_profit %></td>
        </tr>
      </tbody>
      <% }); %>  
	</table>


	<br>
	<h1> Rim Reports (Last 5 Months)</h1>
	<table class="rtable">
		<thead>
		  <tr>
			<th>Date</th>
			<th>Current Value</th>
			<th>Total Sales</th>
			<th>Total Cost</th>
			<th>Net Profit</th>
		  </tr>
		</thead>
  
		<% datum.forEach(function(item) { %>
		<tbody>
		  <tr>
			<td data-column="Date"><%= moment(item.date).format("LL") %></td>
			<td data-column="Current Value"><%= item.value %></td>
			<td data-column="Total Sales"><%= item.sales %></td>
			<td data-column="Total Cost"><%= item.cost %></td>
			<td data-column="Net Profit"><%= item.profit %></td>

		  </tr>
		</tbody>
		<% }); %>  
	  </table>

	  <br>
	  <h1> Battery Reports (Last 5 Months)</h1>	
	<table class="rtable">
		<thead>
		  <tr>
			<th>Date</th>
			<th>Current Value</th>
			<th>Total Sales</th>
			<th>Total Cost</th>
			<th>Net Profit</th>
		  </tr>
		</thead>
  
		<% dat.forEach(function(item) { %>
		<tbody>
		  <tr>
			<td data-column="Date"><%= moment(item.date).format("LL") %></td>
			<td data-column="Current Value"><%= item.value %></td>
			<td data-column="Total Sales"><%= item.sales %></td>
			<td data-column="Total Cost"><%= item.cost %></td>
			<td data-column="Net Profit"><%= item.profit %></td>

		  </tr>
		</tbody>
		<% }); %>  
	  </table>

	  <br>
	  <h1> Expenses (Last 5 Months)</h1>	
	  <table class="rtable">
		  <thead>
			<tr>
				<th>Date</th>
			  <th>Shop Expenses</th>
			  <th>Good Transport</th>
			  <th>School Fees</th>
			  <th>Normal Contribution</th>
			  <th>Coperative Contribution</th>
			  <th>Household</th>
			  <th>Salary</th>
			  <th>Others</th>
			</tr>
		  </thead>
	
		  <% datas.forEach(function(item) { %>
		  <tbody>
			<tr>
			  <td data-column="Date"><%= moment(item.date).format("LL") %></td>
			  <td data-column="shop_expenses"><%= item.shop_expenses %></td>
			  <td data-column="good_transport"><%= item.good_transport %></td>
			  <td data-column="school_fees"><%= item.school_fees %></td>
			  <td data-column="contribution"><%= item.contribution %></td>
			  <td data-column="coperative_contribution"><%= item.coperative_contribution %></td>
			  <td data-column="household"><%= item.household %></td>
			  <td data-column="salary"><%= item.salary %></td>
			  <td data-column="others"><%= item.others %></td>
  
			</tr>
		  </tbody>
		  <% }); %>  
		</table>

		<br>
		<br>

	</body>
	</html>
  
