<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="https://chartjs-plugin-datalabels.netlify.com/chartjs-plugin-datalabels.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <style>

@media only screen and (max-width: 768px) {
            .container{
                position: absolute;
                width: 100%;
                left: 0;
            }
        }

.img-large{

 float: left;
margin: 0 5px 10px 5px;
margin-bottom: 50px;
    
    }
    
        .container-fluid {
            margin: 20px 0px 20px;
        }

        .orangefont {
            color: #ffc107;
        }

        .btn {
            margin: 5px;
        }

        .card {
            margin-bottom: 10px;
        }

        .top-row .card {
            margin-bottom: 10px;
            /* margin-top: 10px; */
            height: 100%;
        }

        .top-row {
            margin-bottom: 10px;
            margin-top: 15px;
        }

        .orangediv1,
        .orangediv {
            background-color: #ffc107;
            color: white;
        }

        .buttonasign {
            justify-content: center;
            display: flex;
        }

        .no-left-padding {
            padding-left: 0px !important;
        }

.search-table-outter{
  overflow-x: scroll; 
  width: 100%;
  height: 100%;
}

        .responstable {
          margin: 1em 0;
  width: 100%;
  overflow: hidden;
  background: #FFF;
  color: #024457;
  border-radius: 10px;
  border: 1px solid #167F92;
    
}



.responstable tr {
  border: 1px solid #D9E4E6;
}
.responstable tr:nth-child(odd) {
  background-color: #EAF3F3;
}

.responstable th {
 
  border: 1px solid #FFF;
  background-color: #167F92;
  color: #FFF;
  padding: 1em;
}
.responstable th:first-child {
  display: table-cell;
  text-align: center;
}
.responstable th:nth-child(2) {
  display: table-cell;
}
.responstable th:nth-child(2) span {
  display: none;
}
.responstable th:nth-child(2):after {
  content: attr(data-th);
}
@media (min-width: 480px) {
  .responstable th:nth-child(2) span {
    display: block;
  }
  .responstable th:nth-child(2):after {
    display: none;
  }
}

.responstable th {
 max-width: 20em; 
}

@media only screen and (max-width: 768px) {
  .responstable td,  .responstable th {
 max-width: 8em; 
 box-sizing:border-box; 
 clear:both
}
}

.responstable td {
 
 
  max-width: 8em; 
  box-sizing:border-box; 
  clear:both
}
.responstable td:first-child {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #D9E4E6;
}
@media (min-width: 480px) {
  .responstable td {
    border: 1px solid #d4e0e2;
  }
}
.responstable th {
  text-align: left;
  margin: .5em 1em;
  
}

.responstable td {
  text-align: center;
  margin: .5em 1em;
}

@media (min-width: 480px) {
  .responstable th, .responstable td {
    display: table-cell;
    padding: 1em;
   
  }
}

body {
  padding: 0 2em;
  font-family: Arial, sans-serif;
  color: #024457;
  background: #f2f2f2;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  color: #024457;
}
h1 span {
  color: #167F92;
}

#myNav {
  display: none;
 
}

input[type=text],  input[type=email],  input[type=date],  .searchButton, select {
    height: 45px;
  }
  
  input[type=text],  input[type=date], select {
    width: 29%;
    margin-bottom: 1em;
    font-size: .9em;
    color: #cfcece;
    font-weight: 300;
    padding: .5em 1em;
    border: none;
    color: #555555;
    font-weight: 300;

    border: 1.48px solid #ccc;
    border-radius: 10px;
  }

  @media only screen and (max-width: 768px) {
    input[type=text],  input[type=date], select {
      width: 100%;
    margin-bottom: 1em;
    font-size: .9em;
    color: #cfcece;
    font-weight: 300;
    padding: .5em 1em;
    border: none;
    color: #555555;
    font-weight: 300;

    border: 1.48px solid #ccc;
    border-radius: 10px;
    }
  }

  .searchButton {


width: 10%;
margin-bottom: 1em;
    font-weight: 300;

    border: none;
font-size: .9em;
padding: .5em 1em;
background: #00B4CC;
text-align: center;
color: #fff;

border: 1.48px solid #ccc;
border-radius: 10px;

cursor: pointer;

}

@media only screen and (max-width: 768px) {
.searchButton {
  width: 100%;

  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  background: #00B4CC;

  font-size: 16px;
 
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  
  border: 1.48px solid #ccc;
  border-radius: 10px;
  
  cursor: pointer;

}
}

input[type="date"]:not(.has-value):before{
  color: rgb(117, 117, 117);
  content: attr(placeholder);
  width: 110px;
  background-color: rgb(232, 234, 235);
}

select option {

font-size: medium;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 500;

}
    </style>
</head>

<body>
    <div class="container">
        <input type="hidden" id="x_month" value="<%= JSON.stringify(x_months) %>" />
        <input type="hidden" id="quantity_array" value="<%= JSON.stringify(quantity_array) %>" />
        <input type="hidden" id="price_array" value="<%= JSON.stringify(price_array) %>" />

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#">LayanCRM</a>
        
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="/dashboard">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Product
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/add_product">Add New Product</a>
                  <a class="dropdown-item" href="/inventory-update">Update Product</a>
                  <a class="dropdown-item" href="/category">Add Product Category</a>
                  <a class="dropdown-item" href="/product-report">Product Report</a>
                  <a class="dropdown-item" href="/productpurchased-report">Update Product Report</a>
                  <a class="dropdown-item" href="/category-report">Category Report</a>
                  <a class="dropdown-item" href="/activate-product">Activate Product</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sales
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/sales">Add New Sales</a>
                  <a class="dropdown-item" href="/sales-reports">Sales Report</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Customer
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/customer">Add New Customer</a>
                  <a class="dropdown-item" href="/customer-report">Customer Report</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Supplier
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/supplier">Add New Supplier</a>
                  <a class="dropdown-item" href="/supplier-report">Supplier Report</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Expenses
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/expenses">Add Expenses</a>
                  <a class="dropdown-item" href="/expenses-report">Expenses Report</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Profit
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/profit-report">Profit Report</a>
                  <a class="dropdown-item" href="/netprofit">Add Net Profit</a>
                  <a class="dropdown-item" href="/netprofit-report">Net Profit Report</a>
                </div>
              </li>
              <li style="float: left;" class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </nav>

         
          <div class="row top-row">
             <!-- <div class="col-sm-4">
                  <div class="card bg-light">
                      <div class="card-body text-center">
                          <h3>Revenue Growth</h3>
                          <span style="color: #3fd23f;">
                              <i class="fas fa-arrow-alt-circle-up fa-3x"></i>
                          </span>
                          <h1 class="orangefont">$200K</h1>
                      </div>
                  </div>
              </div>
              <div class="col-sm-4 no-left-padding">
                  <div class="card bg-light">
                      <div class="card-body text-center">
                          <h3>Profit</h3>
                          <span style="color: red;">
                              <i class="fas fa-arrow-alt-circle-down fa-3x"></i>
                          </span>
                          <h1 class="orangefont"></h1 class="orangefont">
                      </div>
                  </div>
              </div>

              -->

              <div class="col-sm-4 nopadding">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <h5>Current Year Quantity Sold</h5>
                        <br>
                        <h3 id="valuess"  class="orangefont"><%= quantmaxyr %></h3 class="orangefont">
                    </div>
                </div>
            </div>

              <div class="col-sm-4 nopadding">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <h5>Previous Year Revenue</h5>
                        <br>
                        <h3 id="value" class="orangefont"><span style="color: #ffc107;">&#8358; </span><%= prevyrsum %></h3 class="orangefont">
                    </div>
                </div>
            </div>

              <div class="col-sm-4 nopadding">
                  <div class="card bg-light">
                      <div class="card-body text-center">
                          <h5>Current Year Revenue</h5>
                          <br>
                          <h3 id="values"  class="orangefont"><span style="color: #ffc107;">&#8358; </span><%= maxyrsum %></h3 class="orangefont">
                      </div>
                  </div>
              </div>
          </div>
          <hr>

  
     
 
 
  
          <input id="myButton" style="background-color: cadetblue;" value="Click to View and Hide Chart" type="button" name="answer" /> 
  
       

   
          <div id="myNav" class="row">
          </br>
              <div   class="col-sm-6">
                  <div class="card bg-light">
                      <canvas id="vertical-bar-chart1" height="2000" width="4000"></canvas>
                  </div>
              </div>
              <div class="col-sm-6 ">
                <div class="card bg-light">
                    <canvas id="vertical-bar-chart2" height="2000" width="4000" ></canvas>
                </div>
            </div>
          </div>

          <form action="/searchme"  autocomplete="off">
          </br>
          <select id="cat" class = "select" name = "cat" type = "text" >
            <optgroup>
          <option value = "" disabled selected>filter table by product category</option>
          <% uniquca.forEach(function(item) { %>
          <option > <%= item %></option>
          <% }); %>  
          </optgroup>
        </select>
            <select id="prod" class = "select" name = "prod" type = "text" >
              <optgroup>
            <option value = "" disabled selected>filter table by product name</option>
            <% uniqueprods.forEach(function(item) { %>
            <option > <%= item %></option>
            <% }); %>  
            </optgroup>
          </select>
            <input type="date" placeholder="filter by date" name =date onchange="this.className=(this.value!=''?'has-value':'')">
  
            <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
      </form>
      
      <div class="search-table-outter">
          <table class="responstable"> 
            <tr>
              <th>Main driver</th>
              <th>Date</th>
              <th data-th="Driver details"><span>Product Name</span></th>
              
              <th>Category</th>
              <th>Unit Price</th>
              <th>Quantity</th>
              <th>Total Price</th>
              <th>Customer</th>
            </tr>
          
            <% datas.forEach(function(item) { %>
            
            <tr>
              <td><a  href="delete/<%= item.sales_id %>" class="btn btn-primary" role="button" style="background-color: rgb(167, 49, 45);" onclick="return confirm('Are you sure want to Delete this Sale?')" >Delete Sales</a></td>
              <td><%= moment(item.date).format("LL") %></td>
              <td><%= item.prod_name %></td>
              <td><%= item.cat_name%></td>
              <td ><span  style="color: #1d1c1b;">&#8358; </span><%= item.price %></td>
              <td><%= item.quantity %></td>
              <td id="valr" > <span style="color: #1d1c1b;">&#8358; </span><%= item.price * item.quantity %></td>
              <td><%= item.Name %></td>
            </tr>
          
            <% }); %>
          </table>
      </div>

    </div>
</body>


<script>

Chart.defaults.global.legend.display = false;


    var x_month = $('#x_month').val();
    x_month = JSON.parse(x_month);

    var quantity_array = $('#quantity_array').val();
    quantity_array = JSON.parse(quantity_array);

   

    var price_array = $('#price_array').val();
    price_array = JSON.parse(price_array);
  /*
    var profit_array = $('#profit_array').val();
    profit_array = JSON.parse(profit_array);

    var prod_name = $('#prod_name').val();
    prod_name = JSON.parse(prod_name);

    var stockquantity = $('#stockquantity').val();
    stockquantity = JSON.parse(stockquantity);
    */

    //test


    //Quantity chart
    new Chart(document.getElementById("vertical-bar-chart1"), {
        type: 'bar',
        data: {
            labels: x_month,
            datasets: [
                {
            
                    backgroundColor: ["#49d8ef", "#a27aea", "#3cba9f", "#e8c3b9", "#ef5b9f", "#ecbc2a", "#fd7e14"],
                    data: quantity_array
                }
            ]
        },
        options: {

          plugins: {
            datalabels: {
              display: false,
            },
          },
            legend: { display: false },
            title: {
                display: true,
                text: 'Monthly Quantity Sold Chart'
            }
        }
    });

 

    //Price chart
    new Chart(document.getElementById("vertical-bar-chart2"), {
        type: 'bar',
        data: {
            labels: x_month,
            datasets: [
                {
                    backgroundColor: ["#49d8ef", "#a27aea", "#3cba9f", "#e8c3b9", "#ef5b9f", "#ecbc2a", "#fd7e14"],
                    data: price_array,
               
                }
            ]
        },
        options: {

          plugins: {
            datalabels: {
              display: false,
            },
          },

          responsive: true,
            legend: { display: false },
            
            title: {
                display: true,
                text: 'Monthly Revenue Chart'
            }
        }
    });
    /*
    //Profits chart
    new Chart(document.getElementById("bar-chart"), {
        type: 'horizontalBar',
        data: {
            labels: x_month,
            datasets: [
                {
                    backgroundColor: ["#49d8ef", "#a27aea", "#3cba9f", "#e8c3b9", "#ef5b9f", "#ecbc2a", "#fd7e14"],
                    data: profit_array
                }
            ]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: 'Profits'
            }
        }
    });

    //Inventory chart
    new Chart(document.getElementById("pie-chart"), {
        type: 'pie',
        data: {
            labels: prod_name,
            datasets: [{
                backgroundColor: ["#49d8ef", "#a27aea", "#3cba9f", "#e8c3b9", "#ef5b9f", "#ecbc2a", "#fd7e14"],
                data: stockquantity
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Inventory'
            }
        }
    });

    */

  
</script>

<script>
    function myFunction() {
      var x = document.getElementById("myNdav");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
    </script>

    <script>
        $('#myButton').click(function() {
  $('#myNav').toggle('slow', function() {
    // Animation complete.
  });
});
    
    </script>

    <script>

$.fn.digits = function(){ 
    return this.each(function(){ 
        $(this).text( $(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") ); 
    })
}

$("#values").digits();
$("#value").digits();
$("#valuess").digits();


    </script>
    

</html>